<div class="main-container">
  <header class="header">
    <div class="menu-section" *ngIf="currentUser">
      <div class="left">
        <img src="./assets/images/simple-logo-text-left.png" style="height: 30px;">
      </div>
      <div class="center">
        <app-menu *ngIf="activeAccount"></app-menu>
      </div>
      <div class="right">
        <div class="user-menu">
          <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="pi pi-user"></i>
            </button>
            <ul class="dropdown-menu">
              @for (item of accountMenuItems; track item.label) {
                <li><a class="dropdown-item" href="#" (click)="executeCommand(item)">{{ item.label }}</a></li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="account-info row center" *ngIf="activeAccount">
      <div class="user-info">
        <span class="account-label me-2">Bem vindo:</span>
        <span class="account-name">{{ currentUser.name }}</span>
      </div>
      <div class="account-details center">
        <span class="account-label">Conta Ativa:</span>
        <span class="account-name">{{ activeAccount.name }}</span>
        <span class="account-label">Saldo Estimado:</span>
        <span class="account-balance">{{ availableAmount().current | currency:'BRL' }}</span>
        <span class="account-label">Saldo Atual:</span>
        <span class="account-balance text-danger">{{ availableAmount().estimated | currency:'BRL' }}</span>
      </div>
    </div>
    <div class="container">
      <p-toast position="top-right" />
      <router-outlet></router-outlet>
    </div>
  </main>
</div>