<div class="container-fluid py-4">
  <!-- Header Card -->
  <div class="row mb-4">
    <div class="col-12">
      <p-card>
        <div class="d-flex justify-content-between align-items-center m-3">
          <h5 class="mb-0 text-muted">Lista de usuários</h5>
          <button class="btn btn-primary" (click)="addNewUser()">
            <i class="pi pi-plus"></i>
            Novo Usuário
          </button>
        </div>

        <!-- PrimeNG Table -->
        <div class="m-3">
          <p-table [value]="users" [paginator]="true" [rows]="10" responsiveLayout="scroll" [loading]="loading"
            [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th style="width: 100px">Status</th>
                <th style="width: 120px">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <span [class]="user.active ? 'badge bg-success' : 'badge bg-danger'" class="px-2 py-1 rounded-pill">
                    {{ user.active ? 'Ativo' : 'Inativo' }}
                  </span>
                </td>
                <td>
                  <div role="group">
                    <button class="btn btn-primary mb-2"
                      (click)="editUser(user)">
                      <span class="pi pi-pencil"></span>
                    </button>
                    <button class="btn btn-danger ms-2 mb-2" (click)="delete(user)">
                      <span class="pi pi-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </p-card>
    </div>
  </div>
  
  <p-toast position="top-right" />
</div>