<div class="container-fluid py-4">
  <!-- Header Card -->
  <div class="row mb-4">
    <div class="col-12">
      <p-card>
        <div class="d-flex justify-content-between align-items-center m-3">
          <h5 class="mb-0 text-muted">Movimentações Financeiras</h5>
          <button class="btn btn-primary" (click)="addNewTransaction()">
            <i class="pi pi-plus"></i>
            Nova Movimentação
          </button>
        </div>

        <!-- PrimeNG Table -->
        <div class="m-3">
          <p-table [value]="transactions" [paginator]="true" [rows]="10" responsiveLayout="scroll" [loading]="loading"
            [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data Vencimento</th>
                <th>Status</th>
                <th style="width: 180px">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
              <tr>
                <td>{{ transaction.transactionTypeName }}</td>
                <td>{{ transaction.value | currency:'BRL' }}</td>
                <td>{{ transaction.dueDate }}</td>
                <td>
                  <span [class]="transaction.status === 'PAID' ? 'badge bg-success' : 'badge bg-warning'" class="px-2 py-1 rounded-pill">
                    {{ transaction.status === 'PAID' ? 'Pago' : 'Pendente' }}
                  </span>
                </td>
                <td>
                  <div role="group">
                    <button class="btn btn-success mb-2" *ngIf="transaction.status === 'PENDING'"
                      (click)="markAsPaid(transaction)">
                      <span class="pi pi-check"></span>
                    </button>
                    <button class="btn btn-warning mb-2 ms-2"
                      (click)="editTransaction(transaction)">
                      <span class="pi pi-pencil"></span>
                    </button>
                    <button class="btn btn-danger mb-2 ms-2" (click)="delete(transaction)">
                      <span class="pi pi-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </p-card>
    </div>
  </div>
</div>
