<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @for(item of items; track $index) {
                <li class="nav-item d-flex align-items-center me-3">
                    <i class="pi pi-{{item.icon}}"></i>
                    <a class="nav-link" [routerLink]="item.routerLink">{{item.label}}</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>