server:
  port: 8080

spring:
  datasource:
      url: ${APPSETTING_springDatasourceUrl:jdbc:sqlserver://localhost:1433;user=sa;password=raos@1234;databaseName=Raos_Fin;encrypt=true;trustServerCertificate=true}
      maxPoolSize: 200
      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  flyway:
    enabled: true
    baseline-on-migrate: true
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    database-platform: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
