server:
  port: 8080

spring:
  datasource:
      dataSourceClassName: com.microsoft.sqlserver.jdbc.SQLServerConnectionPoolDataSource
      url: ${APPSETTING_springDatasourceUrl:jdbc:sqlserver://localhost:1433;user=sa;password=acn@1234;databaseName=Raos_Fin;encrypt=true;trustServerCertificate=true}
      maxPoolSize: 200
      testOnBorrow: true
      validationQuery: SELECT 1
      test-while-idle: true
      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    database-platform: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
